@media (min-width: 320px) and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    border: 10px solid gray;
    border-top: 0px solid gray;
    padding: 0%;
    margin: 0%;
  }

  .main {
    width: 100%;
  }

  .keefer-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .image-left {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
  }

  .logo {
    width: 100%;
    height: auto;
    margin: 0%;
  }

  .contact-center {
    width: 100%;
    margin-left: 1%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    /* align-items: center;  */
  }

  .contact-center h2 {
    font-size: 10vw;
  }

  .contact-center hr {
    width: 88%;
    float: left;
    height: 3px;
    background: black;
    border: none;
    margin-left: 14px;
  }

  .contact-center h1 {
    font-size: 7.5vw;
    font-weight: 400;
    font-family: system-ui;
  }

  .contact-center p {
    margin: 0;
    margin-left: 0%;
    font-size: 5.5vw;
  }

  .top-line {
    color: #ce3434;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-underline-offset: 3px;
    text-underline-position: below;
  }

  .phone-number {
    font-weight: 500;
    width: 100%;
    color: #333;
    letter-spacing: 8px;
    padding: 1px;
    margin-top: 0px;
  }

  .sub-text {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    letter-spacing: 1px;
    color: #555;
    margin-top: 0%;
  }

  .navbar {
    color: white;
    background: linear-gradient(to bottom, #b30000, #490c0c);
    /* red to dark red */

  }

  .navbar ul {
    list-style: none;
    display: none;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-around;
  }

  .navbar ul li {
    width: 33.3%;
  }

  .navbar ul li a {
    display: block;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 10px 0;
    /* Add padding to make it box-like */
    display: inline-block;
    /* Needed for padding to work properly */
    transition: background-color 1s,
      color 0.7s;
  }

  .navbar ul li a:hover {
    background-color: #7b7676;
    color: white;
  }

  .ExperienceAndQuestions {
    border: hsl(0, 100%, 99%) solid 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2%;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }

  .Experience {
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .Experience .logopng {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
  }

  .QuestionForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #fff;
    border: 2px solid #050303;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-image: url(../images/form_bg.jpg);
    background-size: cover;
  }

  .QuestionForm .header {
    display: flex;

  }

  .questions-box {
    background-color: #990000;
    color: #fff;
    font-size: 20px;
    padding: 12px 26px;
    font-weight: 500;
  }

  .header h2 {
    padding-left: 4%;
    margin-top: 4%;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .highlight {
    color: #003366;
    font-size: 22px;
    margin-top: 2%;
    font-weight: 600;
  }

  .login {
    margin: auto;
    padding: auto;
  }

  .info-text {
    margin: 0px;
    font-size: 19px;
    font-weight: 400;
  }

  .question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 100%;
  }

  .form-group label {
    margin-top: 3px;
    font-weight: bold;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  .form-group input {
    padding: 18px;
    margin-top: 15px;
    border-radius: 0%;
    width: 85%;
  }

  .confidential {
    width: 98%;
    height: 20%;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .confidential-img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
  }

  .QuestionForm textarea {
    padding: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 3px;
    width: 98%;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 2%;
  }

  .privacy {
    font-size: 14px;
    color: #555;
    letter-spacing: 2px;
    margin-right: 6px;
  }

  button {
    padding: 10px 15px;
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 10px;
  }

  button:hover {
    background-color: #a00;
  }

  .second-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #ffffff;
    margin: 0vw;
    padding: 3vw 1.5vw;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .inner1 {
    background: rgba(0, 0, 255, 0);
    width: 100%;
    height: auto;
  }


  .inner2 {
    display: flex;
    flex-direction: column;
    background: rgba(123, 123, 255, 0);
    margin-top: 5vw;
    width: 100%;
    height: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

  }

  .inner3 {
    background: rgba(152, 152, 152, 0);
    width: 100%;
    height: auto;
  }

  .inner1 .inner-h h1 {
    font-size: 28px;
    font-weight: 400;
  }

  .inner1 .inner-h strong {
    color: brown;
    font-weight: 400;
  }

  .inner1 .inner-h h2 {
    color: brown;
    font-size: 20px;
    font-weight: 400;
  }

  .inner-text {
    display: flex;
    padding: 1vw 1vw;
    width: 100%;
  }

  .left-t {
    width: 70%;
  }

  .left-t p {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }

  .right-i {
    width: 50%;

  }

  .right-i img {
    margin-top: 0vw;
    width: 65%;
    height: auto;
    padding-bottom: 5vw;
  }

  .button-r {
    display: flex;
    justify-content: end;
    border-top: none;
    width: 50%;
    float: right;
    margin: 0vw 1vw;
    padding: 0vw 2vw;
  }

  .button-r button {
    float: left;
    background: brown;
    font-size: 14px;
    width: 140px;
    height: 35px;
    color: white;
    text-transform: uppercase;
    padding: 3px 4px;
    border: none;
    margin-right: 5vw;
  }

  .button-r button .fa-solid {
    margin-left: 2px;
  }


  .inner-main {
    display: flex;
    justify-content: center;
    padding: 3vw 2vw;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding-bottom: 10px;
  }

  .inner-main h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 400;
  }

  .inner-main strong {
    color: brown;
    font-weight: 400;
  }

  .inner-main p {
    font-size: 5.2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }

  .inner-main .blog {
    width: 50%;
    height: auto;
  }

  .law-button1 button {
    width: 70%;
    height: auto;
    margin-top: 0vw;
    padding: 1.5vw;
    font-size: 15px;
    background: brown;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }

  .law-button1 .fa-solid {
    margin-left: 6px;
  }

  .law-button1 {
    border-top: none;
    margin-bottom: 0vw;
    margin-top: 3.5vw;
    width: 90%;
  }

  .firm {
    width: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* optional: hides anything spilling out */
  }

  .firm .firm-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* covers the div area without distortion */
    display: block;
    /* removes bottom whitespace from inline image */
    margin: 0%;
    padding: 0%;
  }


  .inner-2 {
    display: flex;
    padding: 0vw 2vw;
    margin-top: 20px;
    padding-top: 0px;
  }



  .inner-2 .case h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6.5vw;
    text-transform: uppercase;
    margin-top: 1vw;
    font-weight: 400;
  }

  .inner-2 .case strong {
    color: brown;
    font-weight: 400;
  }

  .inner-2 p {
    font-size: 5.2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
  }

  .law-button2 button {
    width: 70%;
    height: auto;
    margin-top: 0vw;
    padding: 1.5vw;
    font-size: 15px;
    background: brown;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }

  .inner-2 .law-button2 {
    border-top: none;
    margin-bottom: 0vw;
    margin-top: 3.5vw;
    width: 80%;
  }

  .law-button2 .fa-solid {
    margin-left: 5px;
  }

  .firm img {
    height: 80px;
    margin-top: 18px;
  }

  .inner-2 .book {
    width: 100%;
    height: auto;

  }

  .book img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding-left: 10px;
  }

  .inner3 .inner-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 0%;
  }

  .inner3 .inner-1 .left-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .left-img img {
    width: 65%;
    height: auto;
    /* padding-right: 30px; */
  }

  .inner3 .inner-1 .right-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-img img {
    width: 50%;
    height: auto;
  }

  .strong-text h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 0px;
    margin-bottom: o;
    font-size: 26px;
    font-weight: 400;
  }

  .strong-text strong {
    color: brown;
    font-weight: 400;
  }

  .inner-3 .last-text {
    margin-top: 10px;
    width: 90%;
    padding: 0.5px 2vw;
  }

  .inner-3 .last-text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.2vw;
    font-weight: 300;
  }

  .last-button2 {
    margin-top: 20px;
    margin-right: 60px;
    float: right;
    border-top: none;
    width: 55%;
  }

  .last-button2 button {
    margin-right: 40px;
    float: right;
    border: none;
    font-size: 15px;
    padding: 1.6vw;
    background: brown;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    text-transform: uppercase;
    font-weight: 300;
  }

  .last-button2 .fa-solid {
    margin-left: 10px;
  }

  .last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: auto;
  }

  .box-section #pracrice {
    width: 100%;
    display: block;
  }

  .box-section {
    width: 100%;
    background-color: rgba(0, 128, 0, 0);
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
  }

  .box-section h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 16px;
  }

  .box-section h1 strong {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: brown;
  }

  #boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


  }

  .inner-box {
    display: flex;
    justify-content: center;

    width: 50%;
  }

  .inner-box .box-bg {
    margin-top: 20px;
    background-image: url(images/menu_bg.gif);
    width: 15px;
    height: 75px;
    background-repeat: no-repeat;
    display: none;
  }

  .inner-box .box-button {
    margin-top: 20px;
    width: 221px;
    height: 53px;
    background-color: gray;
  }

  .box-button .textt h2 {
    font-size: 17px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 0.5vw 2vw;
    color: white;
  }

  .buttonn button {
    background: none;
    float: right;
    margin-right: 23px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: none;
    font-weight: 800;
    margin-top: -9px;
  }

  .menu-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-area h2 {
    font-size: 20px;
    text-transform: uppercase;
    font: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 0px;
    opacity: 0.5;
    text-align: center;
  }

  .buttonn .fa-solid {
    color: brown;
    margin-left: 5px;

  }

  .more-section {
    font-size: 20px;
    padding: 2vw 2vw;
  }

  .more-section h1 {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: center;
  }


  .heading-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
  }

  .heading-inner {
    padding: 2.5vw 2vw;
    width: 100%;
  }

  .heading-inner h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-left: 10px;
  }

  .heading-inner p {
    margin-top: 10px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-left: 10px;
    font-weight: 300;
  }

  .logo-section {
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
    padding: 3vw 2vw;
  }

  .side-box1 {

    width: 100%;
    height: auto;
  }

  .side-box1 h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-left: 10px;
  }

  .side-box1 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
  }

  .side-box1 strong {
    color: brown;
    font-weight: 600;
  }

  .click-last-button {
    margin-top: 15px;
    border-top: none;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    float: right;

  }

  .click-last-button button {
    float: right;
    margin-right: 2vw;
    padding: 1.5vw;
    background: brown;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    width: 60%;
    font-weight: 400;
  }

  .side-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 29px;
    padding-top: 25px;
  }

  .side-image img {
    width: 50%;
  }

  .side-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-image2 img {
    width: 50%;
  }

  .follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    width: 50%;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 23%;
}

  .follow-button h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0%;
    padding: 0%;
  }

  .follow-button strong {
    font-weight: 600;
    color: brown;
  }

  .icons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
  }
}